@font-face {
  font-family: 'QuickSand Bold';
  src: url('../fonts/quicksand.bold-regular.otf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/montserrat.regular.ttf');
}
body {
  padding: 0;
  margin: 0;
  min-height: 1626px;
  height: 1px;
  background-color: #cfcfcf;
}
div,
ul,
li,
h1,
p,
img,
h3,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  background-color: #eaeaea;
}
.header {
  min-width: 320px;
  background-color: #3a3e41;
  height: 97px;
  width: 100%;
  color: white;
  font-family: 'Montserrat Regular', sans-serif;
  display: table;
}
.header h2 {
  display: none;
}
.header .menu-button {
  display: none;
}
.header ul {
  vertical-align: middle;
  display: table-cell;
  padding: 0 0 0 54px;
}
.header ul > li {
  vertical-align: middle;
  display: inline-block;
}
.header ul > li a {
  color: white;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  margin: 0 24px 0 0;
}
.header ul > li:first-child + li a {
  margin: 0 20.5px 0 0;
}
.gradient {
  background: -moz-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #00b2c3), color-stop(45%, #00a9bc), color-stop(73%, #0094ac), color-stop(100%, #0089a1));
  background: -webkit-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -o-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -ms-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: linear-gradient(135deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b2c3', endColorstr='#0089a1', GradientType=1);
}
.main-banner {
  min-width: 320px;
  background: -moz-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #00b2c3), color-stop(45%, #00a9bc), color-stop(73%, #0094ac), color-stop(100%, #0089a1));
  background: -webkit-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -o-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: -ms-linear-gradient(-45deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  background: linear-gradient(135deg, #00b2c3 0%, #00a9bc 45%, #0094ac 73%, #0089a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b2c3', endColorstr='#0089a1', GradientType=1);
  padding: 130px 0 0 83px;
  height: 447px;
}
.main-banner .header-banner {
  font-family: 'Montserrat Regular', sans-serif;
  margin: 63px 0 0 0;
  max-width: 800px;
  display: block;
  font-size: 62px;
  color: white;
  font-weight: normal;
  letter-spacing: 0.4px;
  line-height: 68px;
}
.main-banner .link {
  margin: 44px 0 0 0;
  max-width: 724px;
  display: block;
  color: #acd7de;
  font-size: 35px;
  font-family: 'Montserrat Regular', sans-serif;
  letter-spacing: 0.3px;
}
.main-banner .link:after {
  float: right;
  color: white;
  margin: 7px 0 0 0;
  font-size: 37px;
  content: '>';
  font-family: 'QuickSand Bold', sans-serif;
}
.intermediate-block {
  min-width: 320px;
  border: none;
}
.intermediate-block .left {
  float: left;
  background-color: #2c2630;
  height: 70.5px;
  width: 61%;
  padding: 106px 8.4% 68px 8.42%;
}
.intermediate-block .left h3 {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 31px;
  color: #9685a4;
  letter-spacing: 0.2px;
  font-weight: normal;
}
.intermediate-block .right {
  float: left;
  background-color: #c03382;
  height: 71px;
  display: inline-block;
  width: 4.53%;
  padding: 87px 8.5% 87px 9.15%;
}
.intermediate-block .right a {
  display: block;
  width: 40px;
  text-decoration: none;
  margin: 7px 0 0 0;
  color: white;
  font-family: "QuickSand Bold", sans-serif;
  font-size: 51px;
}
.intermediate-block:after {
  content: '';
  display: block;
  clear: both;
}
.intermediate-block:before {
  content: '';
  display: block;
  clear: both;
}
.gallery {
  min-width: 320px;
  clear: both;
  height: 294px;
}
.gallery img {
  width: 33.33%;
  height: auto;
  float: left;
}
.content-section {
  min-width: 320px;
  padding: 49px;
  font-family: 'Montserrat Regular', sans-serif;
  clear: both;
  background-color: #eaeaea;
  height: 315px;
}
.content-section h3 {
  font-weight: normal;
  padding: 0 0 0 3.1%;
  font-size: 30px;
  color: #008aa3;
}
.content-section div.article {
  padding: 18px 20px 20px 20px;
  width: 45%;
  float: left;
}
.content-section div.article p {
  margin: 0 0 25px 0;
  line-height: 1.9;
  letter-spacing: 0.01px;
  font-size: 14px;
  color: #555555;
}
.gradient2 {
  background: -moz-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3a3e41), color-stop(0%, #3a3e41), color-stop(100%, #252a2d));
  background: -webkit-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
  background: -o-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
  background: -ms-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
  background: linear-gradient(to bottom, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3e41', endColorstr='#252a2d', GradientType=0);
}
@media (min-width: 640px) and (max-width: 979px) {
  .header {
    padding: 0;
    height: 75px;
    display: block;
  }
  .header h2 {
    margin: 23px 0 0 35.5px;
    font-size: 23px;
    display: inline-block;
    letter-spacing: 0.7px;
    font-weight: normal;
    vertical-align: middle;
  }
  .header ul {
    margin: 0;
    padding: 0;
    top: 75px;
    position: absolute;
    height: 190px;
    width: 100%;
    background-color: #252a2d;
    background: -moz-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3a3e41), color-stop(0%, #3a3e41), color-stop(100%, #252a2d));
    background: -webkit-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -o-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -ms-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: linear-gradient(to bottom, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3e41', endColorstr='#252a2d', GradientType=0);
    display: none;
  }
  .header ul > li {
    display: block;
    margin: 15px 0 0 20px;
    text-align: left;
  }
  .header ul.invisible {
    display: none;
  }
  .header ul.visible {
    display: block;
  }
  .header #menu-button {
    position: relative;
    display: block;
    width: 6%;
    padding: 22px;
    float: right;
    height: 30px;
    background-color: #252a2d;
    text-align: center;
  }
  .header #menu-button div {
    position: relative;
    top: 10%;
    margin-top: 9px;
    margin-left: 4px;
    background-color: white;
    height: 4px;
    width: 88%;
  }
  .header #menu-button div:before {
    content: '';
    position: absolute;
    bottom: 35%;
    display: block;
    margin-bottom: 7px;
    background-color: white;
    height: 4px;
    width: 100%;
  }
  .header #menu-button div:after {
    content: '';
    position: absolute;
    top: 55%;
    margin-top: 6px;
    display: block;
    background-color: white;
    height: 4px;
    width: 100%;
  }
  .header:after {
    content: '';
    clear: both;
  }
  .main-banner {
    padding: 45px 0 0 51px;
    height: 302px;
  }
  .main-banner .header-banner {
    font-size: 39px;
    letter-spacing: 0.1px;
    line-height: 1.1;
    max-width: 460px;
  }
  .main-banner .link {
    margin: 28px 0 0 0;
    max-width: 452px;
    font-size: 22px;
    letter-spacing: 0.2px;
  }
  .main-banner .link:after {
    font-size: 24px;
    content: '>';
    font-family: 'QuickSand Bold', sans-serif;
  }
  .intermediate-block {
    border: none;
  }
  .intermediate-block .left {
    height: 14px;
    width: 61%;
    padding: 68px 8.4% 68px 8.42%;
  }
  .intermediate-block .left h3 {
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: normal;
  }
  .intermediate-block .right {
    height: 41px;
    width: 4.5%;
    padding: 48px 8.5% 61px 9.15%;
  }
  .intermediate-block .right a {
    width: 20px;
    font-size: 33px;
  }
  .intermediate-block:after {
    content: '';
    display: block;
    clear: both;
  }
  .intermediate-block:before {
    content: '';
    display: block;
    clear: both;
  }
  .gallery {
    min-height: 539px;
    position: relative;
    height: 88.5vw;
  }
  .gallery img {
    clear: both;
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
  }
  .gallery img.active-slide {
    z-index: 1;
  }
  .gallery .left-arrow {
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    font-size: 9vw;
    position: absolute;
    top: 42%;
    font-family: "QuickSand Bold", sans-serif;
    left: 2%;
    max-width: 5vw;
    user-select: none;
    cursor: pointer;
  }
  .gallery .left-arrow.enabled {
    color: white;
  }
  .gallery .right-arrow {
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    font-size: 9vw;
    position: absolute;
    top: 42%;
    font-family: "QuickSand Bold", sans-serif;
    left: 93%;
    max-width: 5vw;
    user-select: none;
    cursor: pointer;
  }
  .gallery .right-arrow.enabled {
    color: white;
  }
  .gallery .pagination {
    position: absolute;
    z-index: 5;
    height: 4vw;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  .gallery .pagination li {
    display: inline-block;
    margin-left: 2%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 4vw;
    cursor: pointer;
  }
  .gallery .pagination li.active {
    color: rgba(0, 0, 0, 0.8);
  }
  .gallery .pagination li.temp {
    color: rgba(0, 0, 0, 0.8);
  }
  .content-section {
    padding: 56px;
    padding-left: 52px;
    padding-top: 0;
    background-color: #eaeaea;
    height: 1130px;
  }
  .content-section h3 {
    margin-top: 10%;
    padding-left: 3.7%;
    font-size: 30px;
    color: #008aa3;
  }
  .content-section div.article {
    width: 100%;
    float: left;
    padding: 29px 20px 20px 20px;
  }
  .content-section div.article p {
    padding: 0;
    line-height: 2;
    letter-spacing: 0;
    font-size: 22px;
    color: #555555;
  }
  .content-section div.article:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 639px) {
  body {
    min-height: 1326px;
  }
  .header {
    min-width: 320px;
    padding: 0;
    height: 38px;
    display: block;
  }
  .header h2 {
    vertical-align: middle;
    margin: 12px 0 0 18px;
    font-size: 10.5px;
    display: inline-block;
    letter-spacing: 0.6px;
    font-weight: normal;
  }
  .header ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 38px;
    height: 140px;
    width: 100%;
    background-color: #252a2d;
    background: -moz-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3a3e41), color-stop(0%, #3a3e41), color-stop(100%, #252a2d));
    background: -webkit-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -o-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: -ms-linear-gradient(top, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    background: linear-gradient(to bottom, #3a3e41 0%, #3a3e41 0%, #252a2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3e41', endColorstr='#252a2d', GradientType=0);
    display: none;
  }
  .header ul li {
    margin: 6px 0 0 12px;
    text-align: left;
    display: block;
  }
  .header ul li a {
    font-size: 10px;
  }
  .header ul.invisible {
    display: none;
  }
  .header ul.visible {
    display: block;
  }
  .header #menu-button {
    position: relative;
    display: block;
    width: 6.2%;
    padding: 10px;
    float: right;
    height: 18px;
    background-color: #252a2d;
    text-align: center;
  }
  .header #menu-button span {
    margin: 2px;
    background-color: white;
    height: 2px;
    width: 78%;
  }
  .header #menu-button div {
    position: relative;
    top: 0;
    margin-top: 7px;
    margin-left: 2px;
    background-color: white;
    height: 2px;
    width: 72%;
  }
  .header #menu-button div:before {
    content: '';
    position: absolute;
    bottom: 35%;
    display: block;
    margin-bottom: 3px;
    background-color: white;
    height: 2px;
    width: 100%;
  }
  .header #menu-button div:after {
    content: '';
    position: absolute;
    top: 55%;
    margin-top: 3px;
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
  }
  .header:after {
    content: '';
    clear: both;
  }
  .main-banner {
    min-width: 294px;
    padding: 0.1% 0 0 26px;
    height: 173px;
  }
  .main-banner .header-banner {
    max-width: 227px;
    margin: 53px 0 0 0;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: -0.9px;
    line-height: 1.05;
  }
  .main-banner .link {
    margin: 14px 0 0 0;
    max-width: 227px;
    font-size: 10px;
    letter-spacing: 0.75px;
  }
  .main-banner .link:after {
    margin: 0;
    font-size: 12px;
    content: '>';
    font-family: 'QuickSand Bold', sans-serif;
  }
  .intermediate-block {
    min-width: 320px;
  }
  .intermediate-block .left {
    height: 7px;
    width: 61%;
    padding: 34px 8.4% 34px 8.42%;
  }
  .intermediate-block .left h3 {
    font-size: 10px;
    letter-spacing: -0.1px;
    font-weight: normal;
  }
  .intermediate-block .right {
    height: 25px;
    width: 4.5%;
    padding: 25px 8.5% 25px 9.15%;
  }
  .intermediate-block .right a {
    width: 20px;
    font-size: 16px;
  }
  .intermediate-block:after {
    content: '';
    display: block;
    clear: both;
  }
  .intermediate-block:before {
    content: '';
    display: block;
    clear: both;
  }
  .gallery {
    min-width: 320px;
    position: relative;
    height: 88.5vw;
    min-height: 285px;
  }
  .gallery img {
    clear: both;
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .gallery img.active-slide {
    z-index: 1;
  }
  .gallery .left-arrow {
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    font-size: 9vw;
    position: absolute;
    top: 42%;
    font-family: "QuickSand Bold", sans-serif;
    left: 2%;
    max-width: 5vw;
    user-select: none;
    cursor: pointer;
  }
  .gallery .left-arrow.enabled {
    color: white;
  }
  .gallery .right-arrow {
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    font-size: 9vw;
    position: absolute;
    top: 42%;
    font-family: "QuickSand Bold", sans-serif;
    left: 93%;
    max-width: 5vw;
    user-select: none;
    cursor: pointer;
  }
  .gallery .right-arrow.enabled {
    color: white;
  }
  .gallery .pagination {
    position: absolute;
    z-index: 5;
    height: 4vw;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  .gallery .pagination li {
    display: inline-block;
    margin: 0 1%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 4vw;
    cursor: pointer;
  }
  .gallery .pagination li.active {
    color: rgba(0, 0, 0, 0.8);
  }
  .gallery .pagination li.temp {
    color: rgba(0, 0, 0, 0.8);
  }
  .content-section {
    padding: 24px 24px 0 27px;
    margin: 0;
    background-color: #eaeaea;
    min-height: 741px;
  }
  .content-section h3 {
    margin: 10px 0 0 0;
    padding: 0 0 0 3.7%;
    font-size: 18px;
    color: #008aa3;
    letter-spacing: 0.5px;
    display: inline-block;
  }
  .content-section div.article {
    width: 82%;
    float: left;
    padding: 5px 20px 20px 9px;
  }
  .content-section div.article p {
    padding: 0;
    line-height: 1.58;
    letter-spacing: 0;
    font-size: 14px;
    color: #555555;
    margin: 0;
  }
}
