@import "font";

body {
    padding: 0;
    margin: 0;
    min-height: 1626px;
    height: 1px;
    background-color: #cfcfcf;
}

div, ul, li, h1, p, img, h3, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    background-color: #eaeaea;
    height: 100%;
}

.header {
    min-width: 320px;
    background-color: #3a3e41;
    height: 97px;
    //padding: 41px 39px 39px 39px;
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    h2 {
        display: none;
    }
    .menu-button {
        display: none;
    }
    ul {
        //vertical-align: middle;
        padding: 0 0 0 15px;
        display: block;
        height: 100%;
        & > li {
            display: inline-block;
            vertical-align: middle;
            a {
                color: white;
                list-style-type: none;
                text-align: center;
                font-size: 15px;
                margin: 0 24px 0 0;
            }
        }
        & > li:first-child + li a {
            margin: 0 20.5px 0 0;
        }
    }
}

.gradient {
    background: -moz-linear-gradient(-45deg, rgba(0, 178, 195, 1) 0%, rgba(0, 169, 188, 1) 45%, rgba(0, 148, 172, 1) 73%, rgba(0, 137, 161, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 178, 195, 1)), color-stop(45%, rgba(0, 169, 188, 1)), color-stop(73%, rgba(0, 148, 172, 1)), color-stop(100%, rgba(0, 137, 161, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(0, 178, 195, 1) 0%, rgba(0, 169, 188, 1) 45%, rgba(0, 148, 172, 1) 73%, rgba(0, 137, 161, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0, 178, 195, 1) 0%, rgba(0, 169, 188, 1) 45%, rgba(0, 148, 172, 1) 73%, rgba(0, 137, 161, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0, 178, 195, 1) 0%, rgba(0, 169, 188, 1) 45%, rgba(0, 148, 172, 1) 73%, rgba(0, 137, 161, 1) 100%);
    background: linear-gradient(135deg, rgba(0, 178, 195, 1) 0%, rgba(0, 169, 188, 1) 45%, rgba(0, 148, 172, 1) 73%, rgba(0, 137, 161, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b2c3', endColorstr='#0089a1', GradientType=1);
}

.main-banner {
    min-width: 320px;
    .gradient;
    padding: 130px 0 0 83px;
    height: 447px;
    .header-banner {
        font-family: 'Montserrat Regular', sans-serif;
        margin: 63px 0 0 0;
        max-width: 800px;
        display: block;
        font-size: 62px;
        color: white;
        font-weight: normal;
        letter-spacing: 0.4px;
        line-height: 68px;
    }
    .link {
        margin: 44px 0 0 0;
        max-width: 724px;
        display: block;
        color: #acd7de;
        font-size: 35px;
        font-family: 'Montserrat Regular', sans-serif;
        letter-spacing: 0.3px;
        &:after {
            float: right;
            color: white;
            margin: 7px 0 0 0;
            font-size: 37px;
            content: '>';
            font-family: 'QuickSand Bold', sans-serif;
        }
    }
}

.intermediate-block {
    min-width: 320px;
    border: none;
    .left {
        float: left;
        background-color: #2c2630;
        height: 70.5px;
        width: 61%;
        padding: 106px 8.4% 68px 8.42%;
        h3 {
            font-family: 'Montserrat Regular', sans-serif;
            font-size: 31px;
            color: #9685a4;
            letter-spacing: 0.2px;
            font-weight: normal;
        }
    }
    .right {
        float: left;
        background-color: #c03382;
        height: 71px;
        display: inline-block;
        width: 4.5%;
        padding: 87px 8.5% 87px 9.15%;
        a {
            display: block;
            width: 40px;
            text-decoration: none;
            margin: 7px 0 0 0;
            color: white;
            font-family: "QuickSand Bold", sans-serif;
            font-size: 51px;
        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}

.gallery {
    min-width: 320px;

    clear: both;
    height: 294px;
    img {
        width: 33.33%;
        height: auto;
        float: left;
    }
}

.content-section {
    min-width: 320px;
    padding: 49px;
    font-family: 'Montserrat Regular', sans-serif;
    clear: both;
    background-color: #eaeaea;
    height: 315px;
    h3 {
        font-weight: normal;
        padding: 0 0 0 3.1%;
        font-size: 30px;
        color: #008aa3;
    }
    div.article {
        padding: 18px 20px 20px 20px;
        width: 45%;
        float: left;
        p {
            margin: 0 0 25px 0;
            line-height: 1.9;
            letter-spacing: 0.01px;
            font-size: 14px;
            color: #555555;
        }
    }
}

.gradient2 {
    background: -moz-linear-gradient(top, rgba(58, 62, 65, 1) 0%, rgba(58, 62, 65, 1) 0%, rgba(37, 42, 45, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58, 62, 65, 1)), color-stop(0%, rgba(58, 62, 65, 1)), color-stop(100%, rgba(37, 42, 45, 1)));
    background: -webkit-linear-gradient(top, rgba(58, 62, 65, 1) 0%, rgba(58, 62, 65, 1) 0%, rgba(37, 42, 45, 1) 100%);
    background: -o-linear-gradient(top, rgba(58, 62, 65, 1) 0%, rgba(58, 62, 65, 1) 0%, rgba(37, 42, 45, 1) 100%);
    background: -ms-linear-gradient(top, rgba(58, 62, 65, 1) 0%, rgba(58, 62, 65, 1) 0%, rgba(37, 42, 45, 1) 100%);
    background: linear-gradient(to bottom, rgba(58, 62, 65, 1) 0%, rgba(58, 62, 65, 1) 0%, rgba(37, 42, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3e41', endColorstr='#252a2d', GradientType=0);
}

@media (min-width: 640px) and (max-width: 979px) {
    .header {
        padding: 0;
        height: 75px;
        h2 {
            margin: 23px 0 0 35.5px;
            font-size: 23px;
            display: inline-block;
            letter-spacing: 0.7px;
            font-weight: normal;
            vertical-align: middle;
        }

        ul {
            margin: 0;
            padding: 0;
            top: 75px;
            position: absolute;
            height: 190px;
            width: 100%;
            background-color: #252a2d;
            .gradient2;
            display: none;
            & > li {
                display: block;
                margin: 15px 0 0 20px;
                text-align: left;
            }
        }

        ul.invisible {
            display: none;
        }

        ul.visible {
            display: block;
        }

        #menu-button {
            position: relative;
            display: block;
            width: 6%;
            padding: 22px;
            float: right;
            height: 30px;
            background-color: #252a2d;
            text-align: center;
            div {
                position: relative;
                top: 10%;
                margin-top: 9px;
                margin-left: 4px;
                background-color: white;
                height: 4px;
                width: 88%;
            }
            div:before {
                content: '';
                position: absolute;
                bottom: 35%;
                display: block;
                margin-bottom: 7px;
                background-color: white;
                height: 4px;
                width: 100%;
            }
            div:after {
                content: '';
                position: absolute;
                top: 55%;
                margin-top: 6px;
                display: block;
                background-color: white;
                height: 4px;
                width: 100%;
            }
        }
    }

    .main-banner {
        padding: 45px 0 0 51px;
        height: 302px;
        .header-banner {
            font-size: 39px;
            letter-spacing: 0.1px;
            line-height: 1.1;
            max-width: 460px;
        }
        .link {
            margin: 28px 0 0 0;
            max-width: 452px;
            font-size: 22px;
            letter-spacing: 0.2px;
            &:after {
                font-size: 24px;
                content: '>';
                font-family: 'QuickSand Bold', sans-serif;
            }
        }
    }

    .intermediate-block {
        height: 14px;
        border: none;
        .left {
            height: inherit;
            width: 61%;
            padding: 68px 8.4% 68px 8.42%;
            h3 {
                font-size: 20px;
                letter-spacing: -0.2px;
                font-weight: normal;
            }
        }
        .right {
            height: 41px;
            width: 4.5%;
            padding: 48px 8.5% 61px 9.15%;
            a {
                width: 20px;
                font-size: 33px;
            }
        }
        .right:after {
            content: '';
            display: block;
            clear: both;
        }
        .left:before {
            content: '';
            display: block;
            clear: both;
        }
    }

    .gallery {
        min-height: 539px;
        position: relative;

        img {
            clear: both;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .content-section {
        padding: 56px;
        padding-left: 52px;
        padding-top: 0;
        background-color: #eaeaea;
        height: 1130px;
        h3 {
            margin-top: 10%;
            padding-left: 3.7%;
            font-size: 30px;
            color: #008aa3;
        }
        div.article {
            width: 100%;
            float: left;
            padding: 29px 20px 20px 20px;
            p {
                padding: 0;
                line-height: 2;
                letter-spacing: 0;
                font-size: 22px;
                color: #555555;
            }
            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 639px) {
    body {
        min-height: 1326px;
    }

    .header {
        min-width: 320px;
        padding: 0;
        height: 38px;
        h2 {
            vertical-align: middle;
            margin: 12px 0 0 18px;
            font-size: 10.5px;
            display: inline-block;
            letter-spacing: 0.6px;
            font-weight: normal;

        }
        ul {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 38px;
            height: 140px;
            width: 100%;
            background-color: #252a2d;
            .gradient2;
            display: none;
            li {
                margin: 6px 0 0 12px;
                text-align: left;
                display: block;
                a {
                    font-size: 10px;
                }
            }
        }
        ul.invisible {
            display: none;
        }

        ul.visible {
            display: block;
        }

        #menu-button {
            position: relative;
            display: block;
            width: 6.2%;
            padding: 10px;
            float: right;
            height: 18px;
            background-color: #252a2d;
            text-align: center;
            span {
                margin: 2px;
                background-color: white;
                height: 2px;
                width: 78%;
            }
            div {
                position: relative;
                top: 0;
                margin-top: 7px;
                margin-left: 2px;
                background-color: white;
                height: 2px;
                width: 72%;
            }
            div:before {
                content: '';
                position: absolute;
                bottom: 35%;
                display: block;
                margin-bottom: 3px;
                background-color: white;
                height: 2px;
                width: 100%;
            }
            div:after {
                content: '';
                position: absolute;
                top: 55%;
                margin-top: 3px;
                display: block;
                background-color: white;
                height: 2px;
                width: 100%;
            }
        }
    }

    .main-banner {
        min-width: 294px;
        padding: 0.1% 0 0 26px;
        height: 173px;
        .header-banner {
            max-width: 227px;
            margin: 53px 0 0 0;
            font-size: 21px;
            font-weight: normal;
            letter-spacing: -0.9px;
            line-height: 1.05;
        }
        .link {
            margin: 14px 0 0 0;
            max-width: 227px;
            font-size: 10px;
            letter-spacing: 0.75px;
            &:after {
                margin: 0;
                font-size: 12px;
                content: '>';
                font-family: 'QuickSand Bold', sans-serif;
            }
        }
    }

    .intermediate-block {
        min-width: 320px;
        height: 7px;
        .left {
            height: inherit;
            width: 61%;
            padding: 34px 8.4% 34px 8.42%;
            h3 {
                font-size: 10px;
                letter-spacing: -0.1px;
                font-weight: normal;
            }
        }
        .right {
            height: 25px;
            width: 4.5%;
            padding: 25px 8.5% 25px 9.15%;
            a {
                width: 20px;
                font-size: 16px;
            }
        }
        .right:after {
            content: '';
            display: block;
            clear: both;
        }
        .left:before {
            content: '';
            display: block;
            clear: both;
        }
    }

    .gallery {
        min-width: 320px;
        position: relative;

        img {
            clear: both;
            display: block;
            width: 100%;
            height: auto;
        }

    }

    .content-section {
        padding: 24px 24px 0 27px;
        margin: 0;
        background-color: #eaeaea;
        min-height: 741px;
        h3 {
            margin: 10px 0 0 0;
            padding: 0 0 0 3.7%;
            font-size: 18px;
            color: #008aa3;
            letter-spacing: 0.5px;
        }
        div.article {
            width: 82%;
            float: left;
            padding: 5px 20px 20px 9px;
            p {
                padding: 0;
                line-height: 1.58;
                letter-spacing: 0;
                font-size: 14px;
                color: #555555;
                margin: 0;
            }
        }
    }
}